<h1>JK & Azeem Craigslist</h1>

<h2>Item for sale: <%= @list.title %></h2>

Name of Seller: <b><%= @list.name %></b><br>
Phone Number: <b><%= @list.phone %></b><br>
Email: <b><%= @list.email %></b><br>
Description of Item: <b><%= @list.desc %></b><br>
Category: <b><%= @list.category %></b><br>
Date & Time posted: <b><%= @list.created_at %></b><br>
Date & Time updated: <b><%= @list.updated_at %></b><br>
